<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>
Authors: Arina Lopukhova (@erynn), and [Yury Kashnitsky](https://yorko.github.io) (@yorko). Edited by Vadim Shestopalov (@vchulski). [mlcourse.ai](https://mlcourse.ai) is powered by [OpenDataScience (ods.ai)](https://ods.ai/) © 2017—2022

# <center>Assignment #1. Task </center> <a class="tocSkip">
## <center>Exploratory Data Analysis (EDA) of Olympic games with Pandas </center> <a class="tocSkip">
    
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>

There are ten questions about 120 years of Olympic history in this assignment.

### Your task is to:
 1. write code and perform computations in the cells below;
 2. choose answers in the [webform](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).
 
*If you are sure that something is not 100% correct with the assignment/solution, please leave your feedback via the mentioned webform ↑*

-----

In [2]:
from pathlib import Path

import pandas as pd
import numpy as np

In [3]:
PATH_TO_DATA = Path("../../_static/data/assignment1")

In [4]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv", index_col="ID")
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

 The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

**<font color='red'>Question 1.</font> How old were the youngest male and female participants of the 1992 Olympics?**

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [5]:
youngest_female = min(df["Age"].loc[(df["Sex"] == "F") & (df["Year"] == 1992)])
youngest_male = min(df["Age"].loc[(df["Sex"] == "M") & (df["Year"] == 1992)])

print(f"The youngest male is {int(youngest_male)} and the youngest female is {int(youngest_female)}")

The youngest male is 11 and the youngest female is 12

**<font color='red'>Question 2.</font> What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions as well.

- 0.2
- 1.5 
- 2.5
- 7.7

In [6]:
q = '(Year == 2012) & (Sex == "M")'

sportsmen_count_2012 = df.query(q).drop_duplicates(subset="Name")
basketball_count_2012 = df.query(q).query('Sport == "Basketball"').drop_duplicates(subset="Name")

percentage_backetball_2012 = (len(basketball_count_2012) / len(sportsmen_count_2012)) * 100

print(
    f"The percentage of male basketball players among all the male participants of the 2012 Olympics is {round(percentage_backetball_2012, 1)}")

The percentage of male basketball players among all the male participants of the 2012 Olympics is 2.5

**<font color='red'>Question 3.</font> What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [7]:
def standard_deviation(x) -> float:
    """
    This function calculates the standard deviation
    :param x:
    :return:
    """
    l = []
    for i in x:
        l.append((i - mean(x)) ** 2)
    return np.sqrt(sum(l) / (len(x) - 1))

In [8]:
def mean(x) -> float:
    """
    This function calculates the standard deviation
    :param x:
    :return:
    """
    return np.sum(x) / len(x)

In [9]:
q = 'Year == 2000 & Sex == "F" & Sport == "Tennis"'
sportswomen_tennis_2000 = df.query(q)["Height"].dropna()

print(
    f"The mean of height for female tennis player in the 2000 Olympics is {round(mean(sportswomen_tennis_2000), 1)} and the standard deviation is {round(standard_deviation(sportswomen_tennis_2000), 1)}")

The mean of height for female tennis player in the 2000 Olympics is 171.8 and the standard deviation is 6.5

**<font color='red'>Question 4.</font> Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?**

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [10]:
max_weight = max(df.query('Year == 2006')["Weight"])
print(
    f"The heaviest atlehete among 2006 Olympics participants does {df['Sport'].loc[(df['Weight'] == max_weight) & (df['Year'] == 2006)].values[0]}")

The heaviest atlehete among 2006 Olympics participants does Skeleton

**<font color='red'>Question 5.</font> How many times did John Aalberg participate in the Olympics held in different years?**

- 0
- 1 
- 2
- 3

In [11]:
print(
    f'John Aalberg has participated {len(df.loc[df["Name"] == "John Aalberg"].drop_duplicates("Year"))} times in the Olympics')

John Aalberg has participated 2 times in the Olympics

**<font color='red'>Question 6.</font> How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?**

- 0
- 1 
- 2
- 3

In [27]:
print("The Switzerland team won", len(df.query("Year == 2008 & Team == 'Switzerland' & Medal == 'Gold'").values),
      "medals at the 2008 Olympics")

The Switzerland team won 3 medals at the 2008 Olympics

**<font color='red'>Question 7.</font>  Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the _Medal_ column.**

- Yes
- No

In [13]:
spain_2016 = df.query("Year == 2016 & Team == 'Spain'")["Medal"].dropna()
italy_2016 = df.query("Year == 2016 & Team == 'Italy'")["Medal"].dropna()

print("Yes" if len(spain_2016) < len(italy_2016) else "No")

Yes

**<font color='red'>Question 8.</font> What are the least and most common age groups among the participants of the 2008 Olympics?**
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [14]:
participants_2008 = df[df.Year == 2008].drop_duplicates(subset="Name")
print("[15, 25): ", len(participants_2008.query("(Age >= 15) & (Age < 25)")))
print("[25, 35): ", len(participants_2008.query("(Age >= 25) & (Age < 35)")))
print("[35, 45): ", len(participants_2008.query("(Age >= 35) & (Age < 45)")))
print("[45, 55]: ", len(participants_2008.query("(Age >= 45) & (Age <= 55)")))

[15, 25):  4776
[25, 35):  5373
[35, 45):  630
[45, 55]:  78

**<font color='red'>Question 9.</font> Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [15]:
atlanta_summer = len(df.query("Season == 'Summer' & City == 'Atlanta'"))
squaw_valley_winter = len(df.query("Season == 'Winter' & City == 'Squaw Valley'"))

print("There have been Summer Olympics held in Atlanta" if atlanta_summer else "No, there have not been Summer Olympics in Atlanta")
print("There have been Winter Olympics held in Squaw Valley" if squaw_valley_winter else "No, there have not been Winter Olympics held in Squaw Valley")

There have been Summer Olympics held in Atlanta
There have been Winter Olympics held in Squaw Valley

**<font color='red'>Question 10.</font> What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?**

- 3
- 10
- 15 
- 27

In [25]:
abs(len(pd.unique(df.query("Year == 1994")["Sport"])) - len(pd.unique(df.query("Year == 2002")["Sport"])))

3